* { box-sizing: border-box; }

html{
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100vh;
}

body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100vh;
}

main{
	display: grid;
	height: auto;
	grid-gap: 0px 0px;
	grid-template-areas: 
		"header"
		"timufantasy"
		"mufantasy"
		"timufull"
		"mufull"
		"timuglam"
		"muglam"
		"timuwedding"
		"muwedding"
		"timusocial"
		"musocial"
		"timuxv"
		"muxv"
		"footer";
	grid-template-columns: repeat(1, minmax(min-content, 1fr));
	grid-template-rows: auto repeat(6, 
			minmax(min-content, 100px)
			minmax(min-content, auto)
		) 100px;
}

main > * {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: arial;
}


/*Nombrar Areas*/
header{
	grid-area: header;
	height: 100vh;
	font-family: Raleway;
	font-weight: 400px;
	background-repeat:no-repeat;}

h2:nth-child(2){
	grid-area: timufantasy;
}

section:nth-child(3){
	grid-area: mufantasy;
}

h2:nth-child(4){
	grid-area: timufull;
}

section:nth-child(5){
	grid-area: mufull;
}

h2:nth-child(6){
	grid-area: timuglam;
}

section:nth-child(7){
	grid-area: muglam;
}

h2:nth-child(8){
	grid-area: timuwedding;
}

section:nth-child(9){
	grid-area: muwedding;
}

h2:nth-child(10){
	grid-area: timusocial;
}

section:nth-child(11){
	grid-area: musocial;
}

h2:nth-child(12){
	grid-area: timuxv;
}

section:nth-child(13){
	grid-area: muxv;
}

footer{
	grid-area: footer;
	background-color: yellow;
	}

section {
    display: grid;
    grid-gap: 10px;
    font-family:sans-serif;
    margin: 20px 0;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h2 {
	font-family: 'Dancing Script', cursive;
	font-size: 40px;
}

.auto-fit div img {
	width: 80%;
	height: 80%;
}

.auto-fit{
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

/*menu*/
nav{
	padding: 8px;
}

.logo{
	position: absolute;
	top: 30px;
	left: 70px;
	float:left;
	padding: 8px;
	margin-left: 16px;
	margin-top: 5px;
}

.logo a{
	color: #FFF;
	font-weight: 700;
	font-size: 30px;
	font-family: 'Dancing Script', cursive;
	letter-spacing: 0px;
	text-decoration: none;
}

.hidden {display: none;}

nav ul {
	position: absolute;
	top: 37px;
	right: 30px;
	float: right;
}

nav ul li {
	display: inline-block;
	float: left;
}

nav ul li:not(:first-child) {
	margin-left: 48px; 
}

nav ul li:last-child {
	margin-right: 24px;
}

nav ul li a {
	display: inline-block;
	outline: none;
	color: #FFF;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
	letter-spacing: 1.2px;
	font-weight: 600;
}

@media screen and (max-width: 864px) {
	.logo {
		padding: 0;
		position: absolute;
		top: 10px;
		left: 10px;
		float:left;
		padding: 8px;
		margin-left: 16px;
	}

	.logo a{
		color: #FFF;
		font-weight: 700;
		font-size: 25px;
		font-family: 'Dancing Script', cursive;
		letter-spacing: 0px;
		text-decoration: none;
	}

	.nav-wrapper {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%
		height:100%;
		z-index: -1;
		background-color: #FFF;
		opacity: 0;
		transition: all 0.2s ease;
	}

	.nav-wrapper ul {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
	}

	.nav-wrapper ul li {
		display: block;
		float: none;
		width: 100%;
		text-align: right;
		margin-bottom: 10px;
	}

	.nav-wrapper ul li:nth-child(1) a {
		transition-delay: 0.2s;
	}

	.nav-wrapper ul li:nth-child(2) a {
		transition-delay: 0.3s;
	}

	.nav-wrapper ul li:not(:first-child) {
		margin-left: 0;
	}

	.nav-wrapper ul li a {
		padding: 5px 24px;
		opacity: 0;
		color: #FFF;
		font-size: 14px;
		font-weight: 600;
		letter-spacing: 1.2px;
		transform: translateX(-20px);
		transition: all 0.2s ease;
		margin-left: 50px;
	}

	.nav-btn{
		position: fixed;
		right: 10px;
		top: 10px;
		display: block;
		width: 48px;
		height: 48px;
		cursor: pointer;
		z-index: 9999;
		border-radius: 50%;
	}

	.nav-btn i{
		display: block;
		width: 20px;
		height: 2px;
		background: #FFF;
		border-radius: 2px;
		margin-left: 14px;
	}

	.nav-btn i:nth-child(1){
		margin-top: 16px;
	}

	.nav-btn i:nth-child(2){
		margin-top: 4px;
		opacity: 1;
	}

	.nav-btn i:nth-child(3){
		margin-top: 4px;
		opacity: 1;
	}

	#nav:checked + .nav-btn {
		transform: rotate(45deg);
	}

	#nav:checked + .nav-btn i {
		background:#FFF;
		transition: transform 0.2s ease;
	}

	#nav:checked + .nav-btn i:nth-child(1) {
		transform: translateY(6px) rotate(180deg);
	}

	#nav:checked + .nav-btn i:nth-child(2) {
		opacity: 0;
	}

	#nav:checked + .nav-btn i:nth-child(3) {
		transform: translateY(-6px) rotate(90deg);
	}

	#nav:checked ~ .nav-wrapper {
		z-index: 9990;
		opacity: 1;
	}

	#nav:checked ~ .nav-wrapper ul li a {
		opacity: 1;
		transform: translateX(150px);
		transform: translateY(100px);
	}

	.hidden {
		display: none;
	}
}

/*Small phone from 100px to 273px*/
@media only screen 
   and (min-width : 100px) {
   	/*La primera row va del tamaño del height*/

   	.logo a{
		font-size: 15px;
	}
	.nav-wrapper ul {
		transform: translateY(-100%);
	}
	.nav-wrapper ul li a {
		font-size: 8px;
	}


   .header{
		background-image: url(imagenes/headermin200.jpg);
		height: 100px;
	}

	main{
		grid-template-rows: auto repeat(6, 
			minmax(min-content, 100px)
			minmax(min-content, auto)
		) 100px;
	}

	footer{
		background-color: black; 

	}

	.fbitem{
		display: block;
		background: url(imagenes/fb20px.png);
		height: 25px;
		width: 25px;
		background-repeat:no-repeat; 
		background-position:center;
		margin: 20px;
	}

	.instaitem{
		display: block;
		background: url(imagenes/ig20px.png);
		height: 25px;
		width: 25px;
		background-repeat:no-repeat; 
		background-position:center;
		margin: 20px;
	}

	.wearevelut{
		display: block;
		background: url(imagenes/velut25px.png);
		height: 25px;
		width: 50px;
		background-repeat:no-repeat; 
		background-position:center;
		margin: 20px;
	}
}

/*Small Phone from 274px to 389px*/
@media only screen 
   and (min-width : 274px) {
   	/*La primera row va del tamaño del height*/
   .header{
		background-image: url(imagenes/headermin274.jpg);
		height: 150px;
	}	
}

/*Smartphone screen from 390px to 539px*/
@media only screen 
   and (min-width : 390px) {
   	/*La primera row va del tamaño del height*/

	.logo a{
		font-size: 25px;
	}

	.nav-wrapper ul li a {
		font-size: 10px;
	}

   .header{
		background-image: url(imagenes/headermin390.jpg);
		height: 200px;
	}
}

/*Smartphone screen from 540px to 693px*/
@media only screen 
   and (min-width : 540px) {
   	/*La primera row va del tamaño del height*/
	.header{
		background-image: url(imagenes/headermin540.jpg);
		height: 300px;
	}
}

/*Smartphone screen from 694px to 767*/
@media only screen 
   and (min-width : 694px) {
   	/*La primera row va del tamaño del height*/
	.header{
		background-image: url(imagenes/headermin694.jpg);
		height: 400px;
	}

	main{
		grid-template-rows: auto repeat(6, 
			minmax(min-content, 100px)
			minmax(min-content, auto)
		) 140px;
	}

	footer{
	background-color: black;
	}

	.fbitem{
		display: block;
		background: url(imagenes/fb34.png);
		height: 100px;
		width: 100px;
		background-repeat:no-repeat; 
		background-position:center;
	}

	.instaitem{
		display: block;
		background: url(imagenes/ig34.png);
		height: 100px;
		width: 100px;
		background-repeat:no-repeat; 
		background-position:center;
	}

	.wearevelut{
		display: block;
		background: url(imagenes/velut84.png);
		height: 100px;
		width: 100px;
		background-repeat:no-repeat; 
		background-position:center;
	}
}


/*Regular tablet screen from 768px to 839px*/
@media only screen 
   and (min-width : 768px) {
   	/*La primera row va del tamaño del height*/
   .header{
		background-image: url(imagenes/headermin840.jpg);
		height: 457px;
	}
}

/*Tablet screen from 840px to 999px*/
@media only screen 
   and (min-width : 840px) {
   	/*La primera row va del tamaño del height*/
   	.header{
		background-image: url(imagenes/headermin840.jpg);
		height: 457px;
	}

	main{
		grid-template-rows: auto repeat(6, 
			minmax(min-content, 100px)
			minmax(min-content, auto)
		) 150px;
	}

	footer{
		background-color: black;
	}

	.fbitem{
		display: block;
		background: url(imagenes/fb34.png);
		height: 100px;
		width: 100px;
		background-repeat:no-repeat; 
		background-position:center;
	}

	.instaitem{
		display: block;
		background: url(imagenes/ig34.png);
		height: 100px;
		width: 100px;
		background-repeat:no-repeat; 
		background-position:center;
	}

	.wearevelut{
		display: block;
		background: url(imagenes/velut84.png);
		height: 100px;
		width: 100px;
		background-repeat:no-repeat; 
		background-position:center;
	}
}

/*Tablet screen from 1000px to 1199px*/
@media only screen 
   and (min-width : 1000px) {
   	/*La primera row va del tamaño del height*/
	.header{
		background-image: url(imagenes/headermin1000.jpg);
		height: 457px;
	}

	footer{
		background-color: black;
	}

	.fbitem{
		display: block;
		background: url(imagenes/fb34.png);
		height: 100px;
		width: 100px;
		background-repeat:no-repeat; 
		background-position:center;
	}

	.instaitem{
		display: block;
		background: url(imagenes/ig34.png);
		height: 100px;
		width: 100px;
		background-repeat:no-repeat; 
		background-position:center;
	}

	.wearevelut{
		display: block;
		background: url(imagenes/velut84.png);
		height: 100px;
		width: 100px;
		background-repeat:no-repeat; 
		background-position:center;
	}
}

/* Big laptop screen from 1200px to 1399px*/
@media only screen 
   and (min-width : 1200px) {
   	/*La primera row va del tamaño del height*/
   .header{
		background-image: url(imagenes/headermin1200.jpg);
		height: 533px;
	}
}

/* Big dektop screen, up to 1400px*/
@media only screen 
   and (min-width : 1400px) {
   	/*La primera row va del tamaño del height*/
	.header{
		background-image: url(imagenes/headermin1400.jpg);
		height: 607px;
	}
}